<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark bg-light-green scrolling-navbar" [containerInside]="false">
    <logo>
        <a class="logo navbar-brand" routerLink="">
            <strong>{{ title }}</strong>
        </a>
    </logo>
    <links>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item waves-light" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" mdbRippleRadius>
                <a class="nav-link" routerLink="">Home</a>
            </li>
            <li class="nav-item waves-light" routerLinkActive="active" mdbRippleRadius>
                <a class="nav-link" routerLink="/admin">Admin panel</a>
            </li>
        </ul>
        <ul class="navbar-nav nav-flex-icons">
            <li *ngIf="!userService.isAuthenticated()" class="nav-item waves-light" routerLinkActive="active" mdbRippleRadius>
                <a class="nav-link" routerLink="login">LogIn</a>
            </li>
            <li *ngIf="userService.isAuthenticated()" class="nav-item waves-light" mdbRippleRadius>
                <a class="nav-link" (click)="logout()">LogOut</a>
            </li>
        </ul>
    </links>
</mdb-navbar>