/* You can add global styles to this file, and also import other style files */
//@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
    padding-top: 4.5rem;
    min-height: 75rem;
}