<div mdbModal #demoBasic="mdb-modal" class="modal fade" id="city-details" tabindex="-1" role="dialog" aria-labelledby="city-title" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100" id="city-title">Modal title</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="demoBasic.hide()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm waves-light" data-dismiss="modal" (click)="demoBasic.hide()" mdbRippleRadius>Close</button>
                <button type="button" class="btn btn-primary btn-sm waves-light" mdbRippleRadius>Save changes</button>
            </div>
        </div>
    </div>
</div>