<div class="table-header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search criteria">
  </mat-form-field>
</div>

<div class="table-container mat-elevation-z8">

  <mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="code">
      <mat-header-cell *matHeaderCellDef mat-sort-header> CODE </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.code}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="continent">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Continent </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.continent}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="region">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Region </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.region}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="headofstate">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Head of state </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.headofstate}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="population">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Population </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.population}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="governmentform">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Government form </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.governmentform}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columns;"></mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>