<app-header [title]="title" [desc]="description"></app-header>

<mat-tab-group (selectChange)="onTabChange($event)" class="home-tab-group">
  <mat-tab label="Countries">
    <div class="home-tab-content">
      <app-countries-table></app-countries-table>
    </div>
  </mat-tab>
  <mat-tab label="Cities">
    <div class="home-tab-content">
      <app-cities-table *ngIf="isCitiesSelected"></app-cities-table>
    </div>
  </mat-tab>
</mat-tab-group>