<br>
<br>
<h2>{{editing ? "Edit" : "Create"}} City</h2>

<form [formGroup]="cityForm" novalidate>

  <br>
  <br>
  <mat-form-field>
    <input matInput placeholder="Enter id" [formControl]="cityForm.controls['id']">
    <mat-error *ngIf="cityForm.controls['id'].invalid && cityForm.controls['id'].dirty">Pleace enter valid ID (only numbers)</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Name" [formControl]="cityForm.controls['name']">
    <mat-error *ngIf="cityForm.controls['name'].invalid && cityForm.controls['name'].dirty">Pleace enter valid name</mat-error>
  </mat-form-field>

  <!-- <mat-form-field>
    <mat-select placeholder="Select country" [formControl]="cityForm.controls['country']">
      <mat-option *ngFor="let c of countries" [value]="food.value">
        {{food.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field> -->

  <mat-form-field>
    <input matInput placeholder="Country" aria-label="Country" [matAutocomplete]="auto" [formControl]="cityForm.controls['country']">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let fc of filteredCountries | async" [value]="fc">
        <span>{{ fc.name }}</span> |
        <small>{{ fc.code }}</small>
      </mat-option>
    </mat-autocomplete>
    <mat-error *ngIf="cityForm.controls['country'].invalid && cityForm.controls['country'].dirty">Pleace select country</mat-error>
  </mat-form-field>
  <br>
  <br>
  <mat-form-field>
    <input matInput placeholder="District" [formControl]="cityForm.controls['district']">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Population" [formControl]="cityForm.controls['population']">
    <mat-error *ngIf="cityForm.controls['population'].invalid && cityForm.controls['population'].dirty">Pleace enter valid population (only numbers)</mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" [class.bg-warning]="editing" [disabled]="!cityForm.valid" (click)="submit()">Save</button>

</form>