<div class="col-lg-6 col-md-8 col-sm-12 center-block">

  <div class="card">

    <div class="view card-header bg-light-green login-header">
      <h1 class="h1-responsive text-center">
        <i class="fa fa-lock"></i> Login: </h1>
    </div>

    <div class="card-body">
      <form [formGroup]="loginForm" class="form-signin" novalidate>

        <div class="md-form input-space">
          <i class="fa fa-envelope prefix grey-text"></i>
          <input mdbActive type="email" id="inputEmail" class="form-control" [formControl]="loginForm.controls['email']">
          <label for="inputEmail" class="">Email</label>
          <div class="alert alert-danger" role="alert" *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].dirty">
            Please enter valid email
          </div>
        </div>

        <div class="md-form input-space">
          <i class="fa fa-lock prefix grey-text"></i>
          <input mdbActive type="password" id="inputPassword" class="form-control" [formControl]="loginForm.controls['pass']">
          <label for="inputPassword" class="">Password</label>
          <div class="alert alert-danger" role="alert" *ngIf="loginForm.controls['pass'].invalid && loginForm.controls['pass'].dirty">
            Minimum 6 symbols
          </div>
        </div>

        <div class="text-center ">
          <button class="btn bg-light-green btn-block" [disabled]="!loginForm.valid" (click)="login()">Sign in</button>
        </div>

      </form>

    </div>

  </div>

</div>