<app-header [title]="title" [desc]="description"></app-header>

<nav mat-tab-nav-bar>
  <a mat-tab-link 
    *ngFor="let link of navLinks"
    [routerLink]="link.path" 
    routerLinkActive 
    #rla="routerLinkActive" 
    [active]="rla.isActive"
    [routerLinkActiveOptions]="{ exact: true }">
      {{ link.label }}
  </a>
</nav>

<router-outlet></router-outlet>