<app-table [dataSource]="dataSource" [columns]="columns" [excludedColumns]="excludeColumns" matSort #countryTableSort = "matSort">
    <ng-container [matColumnDef]="columns[3]">
        <mat-header-cell text-center *matHeaderCellDef> ACTIONS </mat-header-cell>
        <mat-cell text-center *matCellDef="let row">
            <button mat-icon-button color="primary" (click)="edit(row.code)"><i class="fa fa-edit" aria-hidden="true"></i></button>
            <button mat-icon-button color="warn" (click)="delete(row.code)"><i class="fa fa-remove" aria-hidden="true"></i></button>
        </mat-cell>
    </ng-container>
</app-table>