<app-table [dataSource]="dataSource" [columns]="columns" [excludedColumns]="excludeColumns" matSort #cityTableSort = "matSort">

    <ng-container [matColumnDef]="columns[2]">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Country </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.country.name }} </mat-cell>
    </ng-container>

    <ng-container [matColumnDef]="columns[3]">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Country code </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.country.code }} </mat-cell>
    </ng-container>

    <ng-container [matColumnDef]="columns[4]">
        <mat-header-cell text-center *matHeaderCellDef> ACTIONS </mat-header-cell>
        <mat-cell text-center *matCellDef="let row">
            <button mat-icon-button color="primary" [routerLink]="['/admin/cities/add', row.id]" (click)="edit(row.id)">
                <i class="fa fa-edit" aria-hidden="true"></i>
            </button>
            <button mat-icon-button color="warn" (click)="delete(row.id)">
                <i class="fa fa-remove" aria-hidden="true"></i>
            </button>
        </mat-cell>
    </ng-container>

</app-table>